body{
    background-color: cadetblue;
    
}
.full{
    background-color:darkcyan;
    position: absolute;
    top: 15%;
    left: 40%;
    display: inline;
    border: solid darkcyan;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    height: auto;
    height: 400px;
    width: 300px;
    z-index: 1;
    

}
button{
    width: 50px;
    height: 50px;
    background-color: rgb(41, 229, 229);
    border-radius: 5px;
    cursor: pointer;

}
button:hover{

    background-color: grey;
    transition: 150ms;
    box-shadow: gray;
    box-shadow: 100px;
    
}
.wonmsg{
    text-align: center;
    font-size: 30px;
    font-family: cursive;
    color: gold;
    
    
}
.buttonBox{
    padding-top: 6%;
    padding-left: 24%;
    
}
h1{
    text-align: center;
    color: wheat;
}
.playbtn{
    
    width: 80px;
    position:absolute;
    top: 80%;
    left: 35%;
    font-size: larger;
}
.turn{
    text-align: center;
    font-size: 25px;
    position:absolute;
    top: 55%;
    left: 37%;
    color: white;
    
}
